@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer_container {
  width: 100%;
  background-color: #00afaa;
  padding: 10px 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.footer_container > footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#subscribe {
  margin-top: auto;
  margin-bottom: auto;
}

#email {
  width: 22vw;
  height: 4vh;
}

#submit {
  background-color: #208a87;
  width: 15vh;
  border: none;
  height: 4vh;
  font-style: italic;
  font-weight: bold;
  color: white;
}

#submit:hover {
  cursor: pointer;
  border: 1px solid white;
}

#copyright {
  display: flex;
  justify-content: center;
  gap: 3px;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
}

#logo_copyright {
  width: 16px;
  height: 16px;
}

#payment > img {
  width: 64px;
  height: 100%;
}

#payment {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10px;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 0.8em;
  color: white;
}
