@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_container {
  position: sticky;
  top:0;
  color: white;
  height: 10vh;
  background-color: #00afaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_container > header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

#container_logo {
  display: flex;
  gap: 5px;
}

#profile {
  margin-left: auto;
  padding-right: 20%;
}

#logo_icon {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;
  text-decoration: none;
}

.logo {
  width: 38px;
  height: 38px;
}

.pfp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
}

ul {
  list-style-type: none;
}

li > a > h1 {
  text-decoration: none;
}
