@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

#title-unpaid-book {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#my-book-hotel-img {
    width: 246px;
}

#my-book-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#container-temp {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

#my-book-harga {
    font-weight: bold;
}

#wrapper {
    background-color: #2DB6B6;
    padding: 30px;
    padding-bottom: 100px;
    width: 500px;
    border-radius: 20px;
    overflow: auto;
}

#my-book-container {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
} 

#deskripsi {
    font-size: 0.9em;
}

#pay-unpaid-button {
    border: none;
    background-color: #C4C4C4;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}