@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

#points-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.point-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 400px;
  height: 400px;
  justify-items: center;
  gap: 30px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-top:20px
}

.point-wrapper > div > h3 {
  border-bottom: 1px solid #249292;
  padding: 10px;
  text-align: center;
}

#active-point-amount, #history-point {
  text-align: center;
  font-size: 1.2em;
}

#active-points, #history-points {
  background-color: #2DB6B6;
  width: 200px;
}
