@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

#progress_bar {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  font-size: 1.1em;
  padding: 15px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.teks-checkout,
.teks-payment,
.teks-review {
  opacity: 0.5;
}

#success-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 30px;
}

#grid-kiri,
#grid-kanan {
  background-color: #2db6b6;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

#grid-kiri {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#order-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#order-grid-nest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 10px;
}

#order-id-div {
  display: flex;
  justify-content: space-between;
}

#order-div > h3 {
  border-top: 1px solid #428787;
  border-bottom: 1px solid #428787;
  padding-top: 5px;
  padding-bottom: 5px;
}

#payment-check-out {
  border-left: 1px solid #428787;
  border-right: 1px solid #428787;
  padding: 0 10px;
}

#payment-check-in,
#payment-check-out,
#payment-duration {
  text-align: center;
}

#rincian-harga {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#habapoint-div,
#voucher-div,
#total-div {
  display: flex;
  justify-content: space-between;
}

#rincian-harga > h3 {
  border-bottom: 1px solid #428787;
  padding-bottom: 5px;
}

#total-div {
  border-top: 1px solid #428787;
}

#date-room-ordered {
  font-size: 0.7em;
}

#grid-kanan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#qr-image {
  width: 128px;
  height: 128px;
}

#done-button {
  border: none;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 1.5em;
  color: #249292;
  font-weight: bold;
}

#ticket-code {
    font-size: 1.3em;
}
