@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

#edit-profile-title {
    text-align: center;
    padding-bottom: 20px;
}

.wrapper {
    font-family: 'Open Sans', sans-serif;
}

#profile-wrapper > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 500px;
    place-self: center;
    gap: 30px;
}

#pfp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pfp-wrapper > h3 {
    font-size: 1.5em;
}

#pfp-wrapper > img {
    width: 240px;
}

#upload-pfp {
    margin: auto;
}

#data-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#form-name, #form-telephone, #form-email {
    width: 98%;
    height: 30px;
}

#update-button {
    border: none;
    cursor: pointer;
    background-color: #00AFAA;
    color: white;
    text-decoration: underline;
    width: 100%;
    padding: 5px 0;
}